<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS 1</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>EJS, example 1</h1>
    
    <h2>Node.js Non-Official Documentation</h2>

    <p>For more information regarding Node.js, please refer to the <a href="https://nodejs.org/docs/latest-v13.x/api/index.html" title="Node Official Documentation">official documentation</a>.</p>

    <h3>What is this page?</h3>

    <p>This page serves two purposes:</p>

    <ul>
        <li>show you that basic EJS (without the templating part) is just <abbr title="Hypertext Markup Language">HTML</abbr> with an .ejs extension</li>
        <li>provide you with basic Node.js sample code</li>
    </ul>

    <h3>Many thanks to Mosh Hamedani</h3>

    The sample code below is mostly from <a href="https://www.youtube.com/watch?v=TlB_eWDSMt4" title="Programming With Mosh">Programming With Mosh</a> on YouTube. This video is an excellent starting point on anyone's journey to becoming a pro at Node.js.
    
    Thanks for putting out your tutorials, Mosh!

    <ol>
        <li><a href="nodejs/base-dirname-and-filename.js" title="base-dirname-and-filename.js">base-dirname-and-filename.js</a></li>

        <li><a href="nodejs/base-export-complex.js" title="base-export-complex.js">base-export-complex.js</a></li>
        
        <li><a href="nodejs/base-export-renaming.js" title="base-export-renaming.js">base-export-renaming.js</a></li>

        <li><a href="nodejs/base-export-simple.js" title="base-export-simple.js">base-export-simple.js</a></li>

        <li><a href="nodejs/base-hello-world.js" title="base-hello-world.js">base-hello-world.js</a></li>

        <li><a href="nodejs/base-import-function.js" title="base-import-function.js">base-import-function.js</a></li>

        <li><a href="nodejs/base-modules.js" title="base-modules.js">base-modules.js</a></li>

        <li><a href="nodejs/base-port-variable.js" title="base-port-variable.js">base-port-variable.js</a></li>

        <li><a href="nodejs/base-window-object.js" title="base-window-object.js">base-window-object.js</a></li>

        <li><a href="nodejs/events-emitter-1.js" title="events-emitter-1.js">events-emitter-1.js</a></li>

        <li><a href="nodejs/events-emitter-2.js" title="events-emitter-2.js">events-emitter-2.js</a></li>

        <li><a href="nodejs/events-emitter-3.js" title="events-emitter-3.js">events-emitter-3.js</a></li>

        <li><a href="nodejs/express-get-request-for-json.js" title="express-get-request-for-json.js">express-get-request-for-json.js</a></li>

        <li><a href="nodejs/express-server-barebone-1.js" title="express-server-barebone-1.js">express-server-barebone-1.js</a></li>

        <li><a href="nodejs/express-server-barebone-2.js" title="express-server-barebone-2.js">express-server-barebone-2.js</a></li>

        <li><a href="nodejs/express-server-serving-static-files.js" title="express-server-serving-static-files.js">express-server-serving-static-files.js</a></li>

        <li><a href="nodejs/express-server-with-query-string-parameters.js" title="express-server-with-query-string-parameters.js">express-server-with-query-string-parameters.js</a></li>

        <li><a href="nodejs/express-server-with-route-params-1.js" title="express-server-with-route-params-1.js">express-server-with-route-params-1.js</a></li>

        <li><a href="nodejs/express-server-with-route-params-2.js" title="express-server-with-route-params-2.js">express-server-with-route-params-2.js</a></li>

        <li><a href="nodejs/fs-append-to-file.js" title="fs-append-to-file.js">fs-append-to-file.js</a></li>

        <li><a href="nodejs/fs-change-file-name-1.js" title="fs-change-file-name-1.js">fs-change-file-name-1.js</a></li>

        <li><a href="nodejs/fs-change-file-name-2.js" title="fs-change-file-name-2.js">fs-change-file-name-2.js</a></li>

        <li><a href="nodejs/fs-create-file-then-write-in-it.js" title="fs-create-file-then-write-in-it.js">fs-create-file-then-write-in-it.js</a></li>
        
        <li><a href="nodejs/fs-create-folder-1.js" title="fs-create-folder-1.js">fs-create-folder-1.js</a></li>

        <li><a href="nodejs/fs-create-folder-2.js" title="fs-create-folder-2.js">fs-create-folder-2.js</a></li>

        <li><a href="nodejs/fs-create-then-erase-folder.js" title="fs-create-then-erase-folder.js">fs-create-then-erase-folder.js</a></li>

        <li><a href="nodejs/fs-create-write-append-1.js" title="fs-create-write-append-1.js">fs-create-write-append-1.js</a></li>

        <li><a href="nodejs/fs-create-write-append-2.js" title="fs-create-write-append-2.js">fs-create-write-append-2.js</a></li>

        <li><a href="nodejs/fs-csv-to-json.js" title="fs-csv-to-json.js">fs-csv-to-json.js</a></li>

        <li><a href="nodejs/fs-delete-file.js" title="fs-delete-file.js">fs-delete-file.js</a></li>

        <li><a href="nodejs/fs-erase-all-files-in-folder.js" title="fs-erase-all-files-in-folder.js">fs-erase-all-files-in-folder.js</a></li>

        <li><a href="nodejs/fs-erase-folder-with-file-in-it.js" title="fs-erase-folder-with-file-in-it.js">fs-erase-folder-with-file-in-it.js</a></li>

        <li><a href="nodejs/fs-list-file-in-folder-1.js" title="fs-list-file-in-folder-1.js">fs-list-file-in-folder-1.js</a></li>

        <li><a href="nodejs/fs-list-files-in-folder-2.js" title="fs-list-files-in-folder-2.js">fs-list-files-in-folder-2.js</a></li>

        <li><a href="nodejs/fs-path-create-folder-then-file-in-it.js" title="fs-path-create-folder-then-file-in-it.js">fs-path-create-folder-then-file-in-it.js</a></li>

        <li><a href="nodejs/fs-read-file-1.js" title="fs-read-file-1.js">fs-read-file-1.js</a></li>

        <li><a href="nodejs/fs-read-file-2.js" title="fs-read-file-2.js">fs-read-file-2.js</a></li>

        <li><a href="nodejs/fs-read-file-by-chunks.js" title="fs-read-file-by-chunks.js">fs-read-file-by-chunks.js</a></li>

        <li><a href="nodejs/fs-read-write-stream.js" title="fs-read-write-stream.js">fs-read-write-stream.js</a></li>

        <li><a href="nodejs/fs-rename.js" title="fs-rename.js">fs-rename.js</a></li>

        <li><a href="nodejs/fs-write-file.js" title="fs-write-file.js">fs-write-file.js</a></li>

        <li><a href="nodejs/fs-write-file-by-chunks.js" title="fs-write-file-by-chunks.js">fs-write-file-by-chunks.js</a></li>

        <li><a href="nodejs/os-cpu-architecture.js" title="os-cpu-architecture.js">os-cpu-architecture.js</a></li>

        <li><a href="nodejs/os-cpu-core-info.js" title="os-cpu-core-info.js">os-cpu-core-info.js</a></li>

        <li><a href="nodejs/os-free-memory.js" title="os-free-memory.js">os-free-memory.js</a></li>

        <li><a href="nodejs/os-home-directory.js" title="os-home-directory.js">os-home-directory.js</a></li>

        <li><a href="nodejs/os-name-of-os.js" title="os-name-of-os.js">os-name-of-os.js</a></li>


        <li><a href="nodejs/os-uptime.js" title="os-uptime.js">os-uptime.js</a></li>

        <li><a href="nodejs/path-concatenate-pathname.js" title="path-concatenate-pathname.js">path-concatenate-pathname.js</a></li>

        <li><a href="nodejs/path-filename.js" title="path-filename.js">path-filename.js</a></li>

        <li><a href="nodejs/readline-module.js" title="readline-module.js">readline-module.js</a></li>

        <li><a href="nodejs/server-barebone.js" title="server-barebone.js">server-barebone.js</a></li>

        <li><a href="nodejs/server-html-and-json.js" title="server-html-and-json.js">server-html-and-json.js</a></li>

        <li><a href="nodejs/server-html-json-png.js" title="server-html-json-png.js">server-html-json-png.js</a></li>

        <li><a href="nodejs/server-reading-html-files.js" title="server-reading-html-files.js">server-reading-html-files.js</a></li>

        <li><a href="nodejs/server-routes-hello-word-and-json.js" title="server-routes-hello-word-and-json.js">server-routes-hello-word-and-json.js</a></li>

        <li><a href="nodejs/server-url-in-console.js" title="server-url-in-console.js">server-url-in-console.js</a></li>

        <li><a href="nodejs/server-with-condition.js" title="server-with-condition.js">server-with-condition.js</a></li>

        <li><a href="nodejs/server-with-console-message.js" title="server-with-console-message.js">server-with-console-message.js</a></li>

        <li><a href="nodejs/server-with-console-message-and-writehead.js" title="server-with-console-message-and-writehead.js">server-with-console-message-and-writehead.js</a></li>

        <li><a href="nodejs/server-with-event-emitter.js" title="server-with-event-emitter.js">server-with-event-emitter.js</a></li>

        <li><a href="nodejs/server-with-generated-html.js" title="server-with-generated-html.js">server-with-generated-html.js</a></li>

        <li><a href="nodejs/url-add-params.js" title="url-add-params.js">url-add-params.js</a></li>

        <li><a href="nodejs/url-hostname-vs-host.js" title="url-hostname-vs-host.js">url-hostname-vs-host.js</a></li>

        <li><a href="nodejs/url-loop-through-params.js" title="url-loop-through-params.js">url-loop-through-params.js</a></li>

        <li><a href="nodejs/url-params-object.js" title="url-params-object.js">url-params-object.js</a></li>

        <li><a href="nodejs/url-pathname.js" title="url-pathname.js">url-pathname.js</a></li>

        <li><a href="nodejs/url-serialized-query.js" title="url-serialized-query.js">url-serialized-query.js</a></li>

        <li><a href="nodejs/url-serialized-url.js" title="url-serialized-url.js">url-serialized-url.js</a></li>

        <li><a href="nodejs/zlib-unzip-file.js" title="zlib-unzip-file.js">zlib-unzip-file.js</a></li>

        <li><a href="nodejs/zlib-zip-file.js" title="zlib-zip-file.js">zlib-zip-file.js</a></li>


    </ol>


    
</body>
</html>